{% extends 'mailing/base.html' %}
<a href="{% url 'mail:client_detail' %}" type="button" class="btn btn-lg btn-block btn-warning">Отмена</a>

{% block content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <td>Почта:</td>
                    <td>{{ object.email }}</td>
                </tr>
                <tr>
                    <td>Ф.И.О.:</td>
                    <td>{{ object.full_name }}</td>
                </tr>
                <tr>
                    <td>Комментарий:</td>
                    <td>{% if object.comment %} {{ object.comment }} {% endif %}</td>
                </tr>
                <tr>
                    <td>Редактировать</td>
                    <td><a href="{% url 'mailing:client_update' pk=object.pk %}" type="button" class="btn btn-lg btn-block btn-warning">Редактировать</a></td>
                </tr>

            </table>
        </div>
    </div>
</div>
{% endblock %}